.schedule-body-slider {
  grid-row: groups-start / groups-end;
  display: grid;
  grid-template-rows: subgrid;
  transform: translateX(var(--translate-x));
  touch-action: pan-y;
}

.machine-lane {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 4px 0;
  gap: 4px;
  transition: box-shadow 0.2s ease-in-out;
  justify-items: start;

  --color-yellow: hsl(65, 100%, 50%);
  --color-yellow-blur: hsla(65, 100%, 50%, 50%);
  --color-light-blue: hsl(215, 90%, 70%);
  --color-light-blue-blur: hsla(215, 90%, 70%, 20%);

  @media (prefers-color-scheme: dark) {
    --color-yellow: hsl(65, 100%, 70%);
    --color-yellow-blur: hsla(65, 100%, 70%, 80%);
    --color-light-blue: hsl(215, 90%, 70%);
    --color-light-blue-blur: hsla(215, 90%, 70%, 90%);
  }
}

.machine-lane--can-drop {
  box-shadow: 0px 4px 3px -3px var(--color-light-blue) inset, 0px 4px 3px -2px var(--color-light-blue-blur) inset,
    0px -4px 3px -3px var(--color-light-blue) inset, 0px -4px 3px -2px var(--color-light-blue-blur) inset;

  @media (prefers-color-scheme: dark) {
    box-shadow: 0px 4.5px 3px -3px var(--color-light-blue) inset, 0px 4.5px 3px -2px var(--color-light-blue-blur) inset,
      0px -4.5px 3px -3px var(--color-light-blue) inset, 0px -4.5px 3px -2px var(--color-light-blue-blur) inset;
  }
}

.machine-lane--is-over {
  box-shadow: 0px 4px 3px -3px var(--color-yellow) inset, 0px 4px 3px -2px var(--color-yellow-blur) inset,
    0px -4px 3px -3px var(--color-yellow) inset, 0px -4px 3px -2px var(--color-yellow-blur) inset;
}

.task {
  grid-column-start: 1;
  /* height-level starts from 1 */
  grid-row-start: var(--height-level);

  transform: translateX(var(--distance-from-start));
  cursor: move;
}

.task--placeholder {
  visibility: hidden;
}

.task__conflict-shadow {
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 3px 0px var(--color-red) inset, 0px 0px 3px 1px var(--color-red-blur) inset;
  border: 1px solid var(--color-red);
  border-radius: 4px;

  --color-red: hsl(0, 83%, 51%);
  --color-red-blur: hsla(0, 83%, 51%, 50%);

  @media (prefers-color-scheme: dark) {
    --color-red: hsl(10, 100%, 68%);
    --color-red-blur: hsl(10, 100%, 68%, 80%);
  }
}

.task__conflict-icon {
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.task__conflict-list.task__conflict-list {
  list-style-type: disc;
  padding-inline-start: 1rem;
}
