.job-set.job-set {
  display: grid;
  grid-template-columns: [option-start] auto [option-end progress-start] auto [progress-end job-header-start] auto [job-header-end procedures-start] 1fr [procedures-end];
  grid-auto-rows: auto;
  gap: 0.75rem 0.5rem;
  padding: 0.75rem 0;
  margin: 0.5rem 0;
}

.job-set--can-drop {
  outline: dashed var(--color-yellow);
}

.job-set-loader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 5.5rem;
  color: var(--color-gray-700);
  padding-left: 2.75rem;
}

.job-set-item {
  grid-column: option-start / procedures-end;
  display: grid;
  grid-template-columns: subgrid;
}

.insert-job-item {
  grid-column: job-header-start / job-header-end;
  display: flex;
  height: 1.15rem;
  align-items: center;
}

.job {
  grid-column: option-start / procedures-end;
  display: grid;
  grid-template-columns: subgrid;
  align-items: start;
}

.job-option {
  grid-column: option-start / option-end;
  font-size: 1.17rem;
}

.job-progress {
  grid-column: progress-start / progress-end;
  font-size: 1.17rem;
}

.job-set__job-header {
  grid-column: job-header-start / job-header-end;
  margin: 0.25rem 0 0.25rem 0.5rem;
  font-size: 1.17rem;
}

.procedures {
  grid-column: procedures-start / procedures-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.description-loader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 2.5rem;
  color: var(--color-gray-700);
  padding-left: 0.5rem;
}

.description {
  white-space: pre-wrap;
  color: var(--color-gray-800);
  line-height: 1.4;
  margin: 1rem 0.5rem;
}
