.scale {
  position: relative;
  padding: 0 0.5px;
  margin: 0 -0.5px;
  overflow: hidden;
  height: calc(2.5rem + 2px);
}

.scale-slider {
  position: absolute;
  height: 2.5rem;
  padding-top: 2px;
  transform: translateX(var(--translate-x));
  touch-action: pan-y;
}

.scale-svg {
  height: 1.5rem;
  stroke: var(--color-gray-950);
  fill: var(--color-gray-950);
  overflow: visible;
  user-select: none;
}

.tick-mark {
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.time-labels {
  height: max(0px, calc(var(--height-after-scale) - 1rem - 2px))
}

.time-label {
  /* overriden by inline styles */
  --tag-width: 3rem;
  --tag-height: 1.25rem;
}

.time-label-dot {
  position: absolute;
  border: 2px solid var(--color-blue);
  border-radius: 2px;
  top: 2.5px;
  z-index: 0;
  transform: translateX(var(--translate-x)) translate(-2px, -2px);
}

.time-label-connection {
  position: absolute;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--color-blue);
  top: 2.5px;
  height: calc(1.5rem + 1.5px + var(--top));
  z-index: 0;
  transform: translateX(calc(var(--translate-x) - 0.5px));
  transition: height 0.1s ease-out;
}

.time-label-tag {
  position: absolute;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  text-align: center;
  top: calc(1.5rem + var(--top));
  width: var(--tag-width);
  height: var(--tag-height);
  z-index: 1;
  transform: translateX(clamp(-0.5px,
        var(--translate-x) - 0.5px,
        var(--time-axis-width) - var(--tag-width) + 0.5px));
  transition: top 0.1s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optimal-time-label-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
